<body>
  <div class="container">
    <div class="page-header">
      <h1> All accepted articles</h1>
      <%= form_tag articles_path, :method => 'get' do %>
        <%= text_field_tag :search, params[:search] %>
        <%= submit_tag "Search" %>
        <br>
        <%= select_tag(:sort_by, options_for_select(order_articles_options, params[:sort_by]), { :class => "mdb-select browser-default custom-select"}) %>
        <br>
        <%= link_to "Discard changes", articles_path %>
      <% end %>
      <hr>
      <%= render partial: 'article', collection: @articles, as: :article %>
      <%= will_paginate(@articles) %>
      <%= link_to "Main page", "/" %>
      <%= link_to "Back", articles_path %>
    </div>
  </div>
</body>

<script>
  $("#sort_by").on("change", function() {
    $("form").submit();
  });
</script>>
