<body>
  <div class="container">
    <div class="page-header">
      <h1> Create new article</h1>
      <%= form_for @article, url: articles_path do |f| %>
      <p>
        Title of article:<br>
        <%= f.text_field :title %>
      </p>
      <p>
        Article description:<br>
        <%= f.text_field :description %>
      </p>
      <p>
        Select user for grant access:<br>
        <%= f.select(:user_ids,
                      options_for_select(users_for_articles([current_user.id])),
                      { include_blank: false },
                      { multiple: true }) %>
      </p>
      <br>
        <%= f.submit %>
      <% end %>
      <hr>
      <p>
        <%= link_to "Back", '/' %>
      </p>
    </div>
  </div>
</body>
