<input type="checkbox" id="menu"/>
<label for="menu" class="menu">?
</label>
<div class="container-fluid">
  <h1 id="fixed-header" class="jumbotron card text-center"><b>Адаптивная по ширине
  <br>
  <p><%= current_user.email if user_signed_in? %></p>
  <a class="btn btn-light" rel="nofollow" data-method="get" href="/users/sign_in">Sign in</a>
  <% if user_signed_in?%>
    <a class="btn btn-light" rel="nofollow" data-method="delete" href="/users/sign_out">Logout</a>
    <% if current_user.confirmed? %>
      <% else %>
      <a class="btn btn-light" rel="nofollow" date-method="get" href="/users/confirmation">Confirm user</a>
      <% end %>
    <% end %>
  </b></h1>
</div>
<nav class="nav">
  <ul style="list-style: none">
    <li>
      <a>Menu 1</a>
      <ul style="list-style: none">
          <li>
            <a href="#">Menu 1 a</a>
          </li>
          <li>
            <a href="#">Menu 1 b</a>
          </li>
          <li>
            <a href="#">Menu 1 c</a>
          </li>
      </ul>
    </li>
      <li>
        <a>Menu 2</a>
        <ul style="list-style: none">
          <li>
            <a href="#">Menu 2 a</a>
          </li>
          <li>
            <a href="#">Menu 2 b</a>
          </li>
          <li>
            <a href="#">Menu 2 c</a>
          </li>
        </ul>
      </li>
      <li>
        <a>Menu 3</a>
        <ul style="list-style: none">
            <li>
              <a href="#">Menu 3 a</a>
            </li>
            <li>
              <a href="#">Menu 3 b</a>
            </li>
            <li>
              <a href="#">Menu 3 c</a>
            </li>
        </ul>
      </li>
    </ul>
  </nav>
<main>
  <div class="album">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-9" style="padding-top:10px">
          <div class="card mb-4 box-shadow" style="margin-left:30px">
            <div class="card-body" style="text-align:left">
              <div class="media-body border-bottom">
                <h4 class="card-text"><b>How to use</b> </h4>
                <p>Ever wondered what the difference between Adaptive, Responsive,
                  Static and Liquid sites is? Had someone try and explain it only to be left more confused?
                </p>
                <p>Pick a flavor from the drop down on the top of the page then
                    drag your window narrower and wider, taller and shorter. It
                    will make much more sense when you see for yours
                    elf how the approach works.
                </p>
              </div>
              <div class="media2">
                <div class="media-body border-bottom pt-3">
                  <img class="img-responsive lead-image" alt="Responsive" padding style="max-width:110px; height:auto;" src="https://sitepark.ua/images/verstka/images/layout_3.gif"/>
                  <h4 class="d-block"><b>Responsive</b></h4>
                  <p class="responsive">
                    Responsive is characterized by having defined layouts for different resolutions.
                    Within each layout, the design is liquid and resizes the width
                    of elements relative to the changing window size.
                  </p>
                  <p class="responsive">
                    You can think of Responsive as a series of <a href="#">Liquid</a> layouts.
                  </p>
                </div>
              </div>
              <div class="media3">
                <div class="media-body pt-3">
                  <div class="block-text" style="text-align:left">
                    <% if user_signed_in? %>
                      <h4 class="d-block pb-0 mb-0"> Email: <b><%= current_user.email %></b></h4>
                      <p> User role: <b><%= current_user.role %></b></p>
                      <p> Date of birth: <%= current_user.birthday %></p>
                      <%= link_to "Show user", user_path(current_user) %>
                      <hr>
                      <% end %>
                    <% @users.each do |user| %>
                      <p>
                        <h4 class="d-block pb-0 mb-0"> Email: <b><%= user.email %></b></h4>
                        <p> User role: <b><%= user.role %></b></p>
                        <p> Date of birth: <%= user.birthday %></p>
                        <%= link_to "Show user", user_path(user) %>
                        <hr>
                      </p>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% if user_signed_in? && current_user.confirmed? %>
        <div class="col-md-3" style="padding-right: 10px; padding-top: 10px">
          <div class="card mb-2 box-shadow">
            <div class="card-body">
              <div class="right-card">
                <div class="media-body">
                  <strong class="d-block pb-0 mb-0"> Title </strong>
                  <small class="text-gray">Month dd, yyyy </small>
                  <p class="media-body pb-3 mb-0">
                    Summary summary summary summary summary summary
                  </p>
                  <a href="#">Link</a>
                </div>
              </div>
              <div class="right-card2">
                <div class="media-body pt-4">
                  <strong class="d-block pb-0 mb-0"> Title </strong>
                  <small class="text-gray">Month dd, yyyy </small>
                  <p class="media-body pb-3 mb-0">
                    Summary summary summary summary summary summary
                  </p>
                  <a href="#">Link</a>
                </div>
              </div>
              <div class="right-card3">
                <div class="media-body pt-4">
                  <strong class="d-block pb-0 mb-0"> Title </strong>
                  <small class="text-gray">Month dd, yyyy </small>
                  <p class="media-body pb-3 mb-0">
                    Summary summary summary summary summary summary
                  </p>
                  <a href="#">Link</a>
                </div>
              </div>
              <div class="right-card4">
                <div class="media-body pt-4">
                  <strong class="d-block pb-0 mb-0"> Title </strong>
                  <small class="text-gray">Month dd, yyyy </small>
                  <p class="media-body pb-3 mb-0">
                    Summary summary summary summary summary summary
                  </p>
                  <a href="#">Link</a>
                </div>
              </div>
              <div class="right-card5">
                <div class="media-body pt-4">
                  <strong class="d-block pb-0 mb-0"> Title </strong>
                  <small class="text-gray">Month dd, yyyy </small>
                  <p class="media-body pb-3 mb-0">
                    Summary summary summary summary summary summary
                  </p>
                  <a href="#">Link</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</main>
<nav class="bottom">
  <div class="footer">
      <p><b>Active bridge</b></p>
    </div>
</nav>
