<body>
  <div class="container">
    <h1>Show user articles</h1>
    <p>
      <h4 class="d-block pb-0 mb-0"> Email: <b><%= current_user.email %></b></h4>
      <p> User role: <b><%= current_user.role %></b></p>
      <p> Date of birth: <%= current_user.birthday %></p>
      <% current_user.articles.accepted.each do |article| %>
      <hr>
        <p> Article title: <%= article.title %><br>
         Article description: <%= article.description %><br>
      <hr>
      <% end %>
      <a href="/">Back </a>
    </p>
  </div>
</body>
